<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"></meta>
<title>Homepage</title>
</head>
<body>
<h1>welcome to are web site{{capital}}</h1>
{{> header}}
<p>{{screamIt message}}</p>

{{> footer}}
</body>
</html>
